@import url(http://fonts.googleapis.com/css?family=Lobster|Open+Sans|Questrial);
$main-colir:  #FF2E3C;
$btn-color:   #CE2732;
$gray:        #F1F3F3;
$text-W:      #FFFFFF;
$text-D:      #363636;
$text-L:      #6A6A6A;
$orange:      #F08332;

@mixin clearfix() {
  &:after {
    content: '';
    display: table;
    width: 0;
    height: 0;
    clear: both;
  }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  &:before, &:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
html,
body {
  font-size: 14px;
  font-family: "Open Sans";
}
.button {
  display: inline-block;
  height: 40px;
  margin-top: 2em;
  padding: 0 15px;
  line-height: 40px;
  color: $text-W;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  background-color: $btn-color;
  @include clearfix();
  & + .button {
    margin-left: 1em;
  }
  &:hover {
    background-color: darken($btn-color, 10%);
  }
}
header {
  width: 100%;
  padding: 4.64em 0;
  background-color: $main-colir;
  .title {
    font-family: "Lobster";
    color: $text-W;
  }
  .text {
    color: $text-W;
  }
  img {
    width: auto !important;
  }
}
section {
  padding: 4.64em 0;
  .title {
    padding-bottom: 10px;
    border-bottom: 1px solid lighten($text-L, 40%);
  }
  &:nth-child(even) {
    background-color: $gray;
  }
}
pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  &.install {
    padding: 0.5em 1em;
    border-radius: 3px; 
    color: $text-W;
    background-color: $text-L;
  }
}
.inner {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1em;
  @include clearfix();
  .image-l,
  .image-r {
    width: 30%;
    float: left;
    text-align: center;
    img {
      width: 100%;
    }
  }
  .image-r {
    float: right;
  }
  .hljs {
    padding: 1em;
    border-radius: 5px;
    background-color: darken($gray, 5%);
  }
}
.example {
  .title {
    text-align: center;
    margin-bottom: 1em;
  }
}
.element {
  overflow: hidden;
  margin: 0 auto;
  &.A1 {
    width: 100%;
    height: 500px;
  }
  &.A2 {
    margin-top: 3em;
    width: 300px;
    height: 500px;
  }
}
.btn {
  width: 100px;
  margin: 1em auto;
  padding: 10px;
  color: #FFF;
  cursor: pointer;
  border: 1px solid #ca3078;
  border-radius: 3px;
  text-align: center;
  background-color: #FF2E3C;
}
.title {
  margin: 0;
  color: $text-D;
  font-family: "Questrial";
  font-size: 3.43em;
}
.text-r {
  margin-left: 35%;
}
.text-l {
  margin-right: 35%;
  .title {
    text-align: right;
  }
}
.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0.8em 0.5em 0 0;
  float: left;
  background-image: url("../images/icon.svg");
  background-repeat: no-repeat;
  &.icon-download {
    background-position: 0 0;
  }
  &.icon-github {
    background-position: -16px 0;
  }
}